.query {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.query h1 {
  margin-bottom: 30px;
}

.query table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

.query th,
.query td {
  text-align: left;
  padding: 8px;
}
