.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main__text {
  width: 50%;
}

.main__text h1 {
  text-align: center;
  color: #17fdd8;
  margin-bottom: 30px;
}

.main__text h3 {
  margin-bottom: 30px;
}

.main h3,
.main p {
  color: white;
}

.main h3 {
  text-align: start;
}
