.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-dark);
  border-top: solid var(--blue-lighter) 1px;
  color: var(--blue-lighter);
}

.footer__title {
  cursor: pointer;
  margin-right: 5px;
  transition: all 0.3s ease;
}

.footer__title:hover {
  color: var(--green-primary);
}
