.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  text-align: center;

  background: #181818;
  color: rgb(88, 88, 88);
  border: 1px solid rgb(44, 44, 44);
}

.header__logo {
  margin-top: 30px;
}

.header li {
  padding: 5px 0 10px;
}

.header a {
  font-family: Roboto, sans-serif;
  color: rgb(88, 88, 88);
}

.header a:hover {
  color: #17fddb;
}

.header__socialmedia {
  margin-bottom: 20px;
}
