.create {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.create h1 {
  margin-bottom: 30px;
  font-size: 50px;
}

.create__form {
  display: flex;
  flex-direction: column;

  width: 30%;
}

.create__form input,
.create__form select,
.create__form textarea,
.create__form button {
  outline: none;
  padding: 10px;
  font-weight: bold;
}

.create__form input,
.create__form select,
.create__form textarea {
  margin-bottom: 30px;
  border: none;
}

.create__form button {
  width: 200px;
  border-radius: 0.3em;
  background: transparent;
  cursor: pointer;
}
