.create {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.create h1 {
  margin-bottom: 30px;
  color: #17fdd8;
  font-size: 50px;
}

.create__form {
  display: flex;
  flex-direction: column;

  width: 30%;
}

.create__form input,
.create__form select,
.create__form textarea,
.create__form button {
  outline: none;
  padding: 10px;
  font-weight: bold;
}

.create__form input,
.create__form select,
.create__form textarea {
  margin-bottom: 30px;
  background: #2b2b2b;
  color: #505050;
  border: none;
}

.create__form button {
  width: 200px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #17fdd8;
  background: transparent;
  color: #17fdd8;
  cursor: pointer;
}
