.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  padding: 2em 0;
  background-color: var(--blue-dark);
  border-right: solid var(--blue-lighter) 1px;
}

.header a {
  color: var(--blue-lighter);
  text-decoration: none;
}

.header a:hover {
  color: var(--green-primary);
  transition: all 0.3s ease;
}

.header__nav,
.header__socialmedia {
  display: flex;
  flex-direction: column;
}

.header__nav a,
.header__socialmedia a {
  margin-top: 5px;
}
